@use "../abstract" as *;

.wave {
  &::before,
  &::after {
    position: absolute;

    background-repeat: no-repeat;
    background-size: contain;

    content: "";

    inset-inline: 0;
  }

  &::before {
    background-image: url("../assets/svg/wave.svg");

    background-position: center center;
  }

  &::after {
    background-image: url("../assets/svg/wave.svg");

    transform: rotate(180deg);
  }
}

.wave-1 {
  &::before {
    inset-block-start: -48%;

    block-size: 100%;
    @include breakpoint(medium) {
      inset-block-start: -40%;

      min-inline-size: none;
    }
  }

  &::after {
    inset-block-end: -2%;

    block-size: 100%;
  }
}

.wave-2 {
  &::before {
    inset-block-start: -46%;
    block-size: 100%;
    @include breakpoint(medium) {
      inset-block-start: -40%;

      min-inline-size: none;
    }
    @include breakpoint(x-large) {
      inset-block-start: -37%;
    }
  }

  &::after {
    inset-block-end: -1%;
    block-size: 100%;
    @include breakpoint(medium) {
      inset-block-end: -5%;
    }
    @include breakpoint(x-large) {
      inset-block-end: -8%;
    }
  }
}
