@use "../abstract" as *;

.bubble {
  position: relative;

  display: grid;
  gap: rem(30);
  min-block-size: rem(375);

  &:nth-child(even) {
    @include breakpoint(medium) {
      transform: translateY(rem(80));
    }
  }

  img {
    opacity: 40%;
    inline-size: 10%;

    padding-block-end: var(--size-400);

    @include breakpoint(medium) {
      inline-size: 20%;
    }
  }

  /* Changing color of quotation marks svg */
  &:nth-child(1) img {
    filter: invert(23%) sepia(35%) saturate(2463%) hue-rotate(247deg)
      brightness(92%) contrast(102%);
  }

  &:nth-child(3) img {
    filter: invert(52%) sepia(55%) saturate(448%) hue-rotate(0deg)
      brightness(102%) contrast(93%);
  }

  &:nth-child(2) img {
    filter: invert(59%) sepia(8%) saturate(3054%) hue-rotate(133deg)
      brightness(94%) contrast(81%);
  }

  &:nth-child(4) img {
    filter: invert(51%) sepia(10%) saturate(3620%) hue-rotate(77deg)
      brightness(111%) contrast(75%);
  }
}

.bubble__review {
  position: relative;

  max-inline-size: rem(400);

  padding: rem(24);
  border-radius: rem(8);

  box-shadow: 0 rem(1.6) rem(2.2) rgba(0, 0, 0, 2%),
    0 rem(3.9) rem(5.3) rgba(0, 0, 0, 2.8%),
    0 rem(7.3) rem(10) rgba(0, 0, 0, 3.5%),
    0 rem(13) rem(17.9) rgba(0, 0, 0, 4.2%),
    0 rem(24.2) rem(33.4) rgba(0, 0, 0, 5%), 0 rem(58) rem(80) rgba(0, 0, 0, 7%);

  /* Invert Triangle for bubble  */
  &::after {
    position: absolute;

    background-color: var(--clr-neutral-100);

    box-shadow: 0 rem(1.6) rem(2.2) rgba(0, 0, 0, 2%),
      0 rem(3.9) rem(5.3) rgba(0, 0, 0, 2.8%),
      0 rem(7.3) rem(10) rgba(0, 0, 0, 3.5%),
      0 rem(13) rem(17.9) rgba(0, 0, 0, 4.2%),
      0 rem(24.2) rem(33.4) rgba(0, 0, 0, 5%),
      0 rem(58) rem(80) rgba(0, 0, 0, 7%);

    content: "";
    clip-path: polygon(51% 100%, 0 0, 100% 0);
    inset-inline-start: rem(15);
    inset-block-start: 100%;
    inline-size: rem(35);
    block-size: rem(20);
  }
}

.bubble__name {
  display: flex;
  gap: rem(16);
  align-items: flex-start;
  padding-inline-start: rem(14);

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    block-size: rem(40);
    inline-size: rem(40);
  }
}
