@use "../abstract/" as *;

.content-info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: rem(30);
  align-items: center;
  overflow: hidden;
}

.content-info__item .container {
  gap: rem(80);
  max-inline-size: rem(1220);

  margin-block: 0;
  padding-inline: rem(16);
  margin-inline: auto;

  &[data-children="first-child"] {
    margin-block-start: rem(160);
    @include breakpoint(medium) {
      block-size: rem(750);
      margin-block-start: 0;
    }
    @include breakpoint(large) {
      block-size: rem(950);
    }
  }

  &[data-children="third-child"] {
    gap: 0;
    margin-block: rem(40);
    block-size: rem(800);
    @include breakpoint(large) {
      block-size: rem(950);
    }
  }

  @include breakpoint(medium) {
    gap: rem(40);
  }
}

.item-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-inline-size: rem(375);

  @include breakpoint(medium) {
    align-items: flex-start;
  }

  p {
    @include breakpoint(medium) {
      max-inline-size: rem(350);
    }
  }
  @include breakpoint(medium) {
    h3 {
      min-inline-size: rem(340);
      inline-size: 100%;
      max-inline-size: rem(377);
    }
  }
}

.content-info__item {
  position: relative;
}

/* the before and after pseudo-element make the wave on the background */
.content-info__item:nth-child(1),
.content-info__item:nth-child(3) {
  background-color: var(--clr-primary-800);

  /* change image position on first and third grid item */
  .item-child:nth-child(2) {
    @include breakpoint(medium) {
      grid-column: 1 / 2;
    }
  }

  &::before {
    position: absolute;

    background-image: url("../assets/svg/wave.svg");

    background-repeat: no-repeat;

    background-position: center center;

    background-size: 100%;

    content: "";

    inset-inline: 0;

    min-inline-size: rem(600);
  }

  &::after {
    position: absolute;

    background-image: url("../assets/svg/wave.svg");

    background-repeat: no-repeat;

    background-position: center center;

    background-size: 100%;
    transform: rotate(180deg) scaleX(-1);

    content: "";

    inset-inline: 0;

    block-size: rem(145);
  }
}

.content-info__item:nth-child(1) {
  &::before {
    inset-block-start: -2%;
    block-size: rem(145);
    min-inline-size: rem(600);

    @include breakpoint(medium) {
      inset-block-start: -18%;
      block-size: rem(360);

      min-inline-size: none;
    }
    @include breakpoint(large) {
      inset-block-start: -8%;
      block-size: rem(360);

      min-inline-size: none;
    }

    @include breakpoint(x-large) {
      inset-block-start: -17%;
      block-size: rem(536);
    }
  }

  &::after {
    inset-block-end: -2%;
    block-size: rem(145);
    min-inline-size: rem(600);
    @include breakpoint(medium) {
      inset-block-end: -19%;
      block-size: rem(360);

      min-inline-size: none;
    }
    @include breakpoint(large) {
      inset-block-end: -10%;
    }
    @include breakpoint(x-large) {
      inset-block-end: -17%;
      block-size: rem(536);
    }
  }
}

.content-info__item:nth-child(3) {
  &::before {
    inset-block-start: -2%;
    block-size: rem(145);
    min-inline-size: rem(600);
    @include breakpoint(medium) {
      inset-block-start: -13%;
      block-size: rem(360);

      min-inline-size: none;
    }
    @include breakpoint(x-large) {
      inset-block-start: -15%;
      block-size: rem(536);
    }
  }

  &::after {
    inset-block-end: -2%;
    min-inline-size: rem(600);
    @include breakpoint(medium) {
      inset-block-end: -13%;
      block-size: rem(360);

      min-inline-size: none;
    }
    @include breakpoint(x-large) {
      inset-block-end: -15%;
      block-size: rem(536);
    }
  }
}

.content-info__item:nth-child(2) {
  z-index: 3;

  background-color: var(--clr-neutral-100);
}

[data-children="second"] .item-child:nth-child(2) {
  @include breakpoint(medium) {
    grid-column: 2 / 2;
  }
}

.content-info__img {
  inline-size: rem(325);
  block-size: rem(800);

  @include breakpoint(medium) {
    inline-size: rem(350);
    block-size: rem(800);
  }
  @include breakpoint(large) {
    inline-size: rem(450);
    block-size: rem(950);
  }

  &[data-value="heart"] {
    inline-size: 100%;
    block-size: 60%;
  }

  &[data-value="location"] {
    inline-size: 100%;
    block-size: rem(400);
  }
}
