@use "../abstract/" as *;

.content-info {
  overflow: hidden;
}

.content-info__item:nth-child(2) {
  z-index: 3;

  background-color: var(--clr-neutral-100);
}

.content-info__item .container {
  margin-block-start: rem(300);
  padding-inline: rem(24);

  gap: rem(80);
  @include breakpoint(medium) {
    margin-block-start: 0;
  }

  &[data-children="second"] {
    margin-block-start: 0;

    gap: rem(80);
  }

  &[data-children="third"] {
    margin-block-start: 0;

    gap: rem(80);
  }
}

.item-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include breakpoint(medium) {
    align-items: flex-start;
  }

  p {
    max-inline-size: rem(400);
  }
}

.content-info__item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  block-size: rem(1200);

  @include breakpoint(medium) {
    block-size: rem(1000);
  }
}

/* the before and after pseudo-element make the wave on the background */
.content-info__item:nth-child(1),
.content-info__item:nth-child(3) {
  background-color: var(--clr-primary-800);

  &::before {
    position: absolute;

    background-image: url("../assets/svg/wave.svg");

    background-repeat: no-repeat;

    background-position: center center;

    background-size: 100%;

    content: "";

    inset-block-start: -2%;

    inset-inline: 0;

    min-inline-size: rem(600);

    block-size: rem(145);

    @include breakpoint(medium) {
      inset-block-start: -8%;
      block-size: rem(360);

      min-inline-size: rem(2000);
    }
    @include breakpoint(x-large) {
      inset-block-start: -10%;
      block-size: rem(506);
    }
  }

  &::after {
    position: absolute;

    background-image: url("../assets/svg/wave.svg");

    background-repeat: no-repeat;

    background-position: center center;

    background-size: 100%;
    transform: rotate(180deg) scaleX(-1);

    content: "";

    inset-block-end: -2%;

    inset-inline: 0;
    min-inline-size: rem(600);

    block-size: rem(145);

    @include breakpoint(medium) {
      inset-block-end: -5%;
      block-size: rem(360);

      min-inline-size: rem(2000);
    }

    @include breakpoint(x-large) {
      inset-block-end: -13%;
      block-size: rem(506);
    }
  }
}

[data-children="second"] .item-child:nth-child(2) {
  @include breakpoint(medium) {
    grid-column: 2 / 2;
  }
}

.item-child:nth-child(2) {
  @include breakpoint(medium) {
    grid-column: 1 / 2;
  }
}

.content-info__img {
  inline-size: rem(325);
  block-size: rem(800);

  @include breakpoint(medium) {
    inline-size: rem(400);
    block-size: rem(1000);
  }

  &[data-value="heart"] {
    inline-size: rem(320);
    block-size: rem(320);
    @include breakpoint(medium) {
      inline-size: rem(500);
      block-size: rem(500);
    }
  }

  &[data-value="location"] {
    inline-size: rem(375);
    block-size: rem(375);
    @include breakpoint(medium) {
      inline-size: rem(600);
      block-size: rem(600);
    }
  }
}
