@use "../abstract/" as *;

.hero {
  inline-size: 100%;
}

.hero .even-columns {
  max-inline-size: rem(1200);

  margin-block: 0;

  padding-inline: rem(24);
  margin-inline: auto;
}

.hero .even-columns h1,
.hero .even-columns p {
  max-inline-size: rem(450);

  @include breakpoint(large) {
    max-inline-size: none;
  }
}

.hero__btn-container {
  display: flex;
  gap: rem(24);
  align-items: center;

  justify-content: center;
}

.hero__img {
  inline-size: 100%;
  block-size: 100%;
}
