@use "../abstract" as *;

/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 */
.wrapper {
  position: relative;

  inline-size: 95vw;

  max-inline-size: rem(1300);
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.dp-flex {
  display: flex;
}

.dp-grid {
  display: grid;
}

.invert-items {
  @include breakpoint(medium) {
    grid-column: 1 / 2;
  }
}

.grid-img {
  max-block-size: rem(100);
  max-inline-size: rem(100);
}

.justify-space-between {
  justify-content: space-between;
}

.even-columns {
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;

  @include breakpoint(medium) {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

.grid-30-60 {
  grid-template-columns: 0.3fr 1fr;
}

.grid-50-50 {
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.even-rows {
  display: grid;
  grid-auto-rows: 1fr;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  @include breakpoint(medium) {
    grid-auto-flow: row;
  }
}

.grid-grow {
  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100% / 1, max(rem(250), 100% / 4)), 1fr)
  );
  align-items: center;
  justify-items: center;
}

.grid-grow-two-columns {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100% / 2, max(rem(320), 100% / 3)), 1fr)
  );
}

.btn-container {
  justify-content: center;
  @include breakpoint(medium) {
    justify-content: flex-start;
  }
}

.three-columns {
  display: grid;
  place-items: center;

  grid-template-columns: 1fr;
  row-gap: var(--space-500);
  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr 1fr;

    row-gap: rem(60);
  }
}

.attribution {
  font-size: var(--fluid-fs-400);
  @include breakpoint(medium) {
    grid-column: 2 / 3;
  }
  @include breakpoint(large) {
    font-size: var(--fluid-fs-200);
  }
}
