@use "../abstract" as *;

main {
  z-index: 1;
}

.even-columns {
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;

  @include breakpoint(medium) {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}
