@use "functions" as *;
@use "breakpoints" as *;

$font-sizes: (
  "100": clamp(0.58rem, calc(0.42rem + 0.69vw), 1.02rem),
  "200": clamp(0.69rem, calc(0.48rem + 0.91vw), 1.28rem),
  "300": clamp(0.83rem, calc(0.55rem + 1.2vw), 1.6rem),
  "400": clamp(1rem, calc(0.63rem + 1.56vw), 2rem),
  "500": clamp(1.2rem, calc(0.72rem + 2.03vw), 2.5rem),
  "600": clamp(1.44rem, calc(0.82rem + 2.63vw), 3.13rem),
  "700": clamp(1.73rem, calc(0.93rem + 3.4vw), 3.91rem),
  "800": clamp(2.07rem, calc(1.05rem + 4.39vw), 4.88rem),
  "900": clamp(2.49rem, calc(1.17rem + 5.64vw), 6.1rem),
);

$font-weights: (
  "300": 300,
  "400": 400,
  "700": 700,
);

$font-families: (
  "primary": "Lato",
  "secondary": "Lato",
  "body": var(--ff-primary),
  "headings": var(--ff-primary),
);

$line-heights: (
  "400": 1.2,
  "500": 1.3,
  "600": 1.5,
  "700": 1.6,
);

$text-align: ("start", "end", "center", "justify");
