@use "../abstract" as *;

/***************** 
 header typography 
*****************/

.nav__item:not([data-state="emergency"]) {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-nav);
  font-size: var(--fs-nav);
  text-transform: capitalize;

  @include breakpoint(large) {
    color: var(--clr-neutral-900);
  }
}

.nav {
  font-size: var(--fluid-fs-600);
  @include breakpoint(large) {
    font-size: var(--fluid-fs-300);
  }
}

/********************** 
 header typography end
**********************/

.additional-services {
  font-size: var(--fluid-fs-600);

  @include breakpoint(small) {
    font-size: var(--fluid-fs-500);
  }
}

footer {
  font-size: var(--fluid-fs-600);

  @include breakpoint(medium) {
    font-size: var(--fluid-fs-400);
  }

  a {
    color: var(--clr-neutral-100);

    transition: all 350ms ease-in-out;

    &:hover {
      color: var(--clr-neutral-600);
    }
  }
}
