@use "../abstract" as *;

body {
  font-family: var(--ff-primary);
}

h1 {
  font-family: var(--ff-headings);
}

p {
  font-family: var(--ff-body);
}

/***************** 
 header typography 
*****************/

.nav__item:not([data-state="emergency"]) {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-nav);
  font-size: var(--fs-nav);
  text-transform: capitalize;

  @include breakpoint(large) {
    color: var(--clr-neutral-900);
  }
}

.additional-services {
  font-size: var(--fluid-fs-600);

  @include breakpoint(small) {
    font-size: var(--fluid-fs-500);
  }
}

/********************** 
 header typography end
**********************/
